body {
  color: #fafafa;
  background-image: url(imgs/background.jpg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', Roboto, 'Helvetica Neue', 'Liberation Sans', Arial, sans-serif;
  text-shadow: 0px 1px 1px black;
  margin-left: 15%;
  margin-right: 15%;
}

nav div {
  display: flex;
  justify-content: space-between;
}

nav div img {
  width: 106px;
}

nav div ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div ul li a {
  color: #fafafa;
  text-decoration-line: none;
  background-color: #2d3a5b;
  padding: 1.25rem;
  border-radius: 12px;
}

#shop {
  background-color: #3a801e;
}

#sign-in {
  background-color: #bb8916;
}

.card-pass-section {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.card-pass-section button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3a5b;
  color: #fafafa;
  border-style: none;
  padding: 0.5rem;
  border-radius: 12px;
}

.card-pass-section button img {
  border-radius: 12px;
}

.card-shop-section {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.card-shop-section button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3a5b;
  color: #fafafa;
  border-style: none;
  padding: 0.5rem;
  border-radius: 12px;
}

.card-shop-section button img {
  border-radius: 12px;
}

button {
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: #142246;
}
